body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* HEADER */
.header {
    background: #ffffff;
    font-family: 'Roboto';
    letter-spacing: 1px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.678);
    width: 100%;
    overflow: hidden;
}
.header img {
    float: left;
    height: 16px;
    margin-top: 44px;
}
.navigation-principale li {
    float: right;
    display: block;
    padding: 30px;
    font-size: 16px;
}
.navigation-principale li a {
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: ease 500ms;
}
.navigation-principale li a:hover {
    color: rgba(233, 33, 99, 1);
}

/* GENERAL */
.blog-main {
    margin-left: 6em;
}
.row {
    margin-top: 6em;
    padding-left: 8em;
}
.timeline {
    position: relative;
    height: calc(100vh + 200px);
    margin: 50px auto;
    padding: 40px 0;
    font-family: 'Karla Light';
    box-sizing: content-box;
}
.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}
.timeline ul {
    margin: 0;
    padding: 0;
}
.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}
.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}
.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}
.timeline .content {
    padding-bottom: 20px;
    opacity: 0;
}
.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233, 33, 99, 1);
}
.timeline ul li h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
}
.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
    color: #fff;
    border-radius: 18px;
}
.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
    color: #fff;
    border-radius: 18px;
}


/* ARTICLES */
.blog-post {
    padding-top: 4em;
}
.page-row {
    padding-left: 14em;
    line-height: 180%;
}

/* CONTACT */
.contact .title {
    font-family: 'Karla';
}
/* FOOTER */
footer {
    margin-top: 6em;
    font-family: 'Roboto Medium';
    letter-spacing: 2px;
}